//
	Ah, I see that you have opened my  D E V I L I S H   S O U R C E   C O D E

	,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,*,..........*,,*****************************************************&**,****************
	,,.,,,,,,,,,,,,,,,,,,,,,,,,,,**....***......*...******************************************************,****************
	,,.,,,,,,,,,,,,,,,,,,,,,,,,,*..,*****.........******************************************,***********.*,/***************
	,,......................../..*********......*****************************************,.*.,***********,.*,/*************
	,,,,,,,,,,,,,,,,,,,,,,,,.,,***//////****..**/************************************,.***..,.,*******.*.**.,.,(*,,,,,,,,,,
	,,,,,,,,,,,,,,,,,,,,,,,(.***///////////.*//////////****************##(************.***.....********....*....,,,,,,,,,,,
	**********************%,***//////////////#(////////#/////*********/(%%##**********.,**......*********...,.....%,,,,,,,,
	*************************///////////////##////////%#%/////////////(%%&&%%//***********...*...*********.........,.......
	/////////////////////***//////////////(##(///////%&&%%#////(%%##%%&&&&&&%%//**********.*.**../*********,........,......
	/////////////////////**//////////////(%##///////(&&&&&&&&&&&&&&%/#&&&&&&&%///*********,****,.************.*......,,,,,,
	(((((((/////////////**//////////////#####///////%&&&&&&&&(///%//////////#%////////(*********.,**//////****.*.,.*..,....
	((((((((////////////**/////////////#####(///////%&&////////////////////(///////((////******.////////////,**.*.*../...
	(((((((((((((((((((*(/////////////######////////%%/////////////(//////(/////////(#(//////////*////////////////**,*..,,,
	((((((((((//////////(////////////#######////////#/////////////(////////////////(##(//////////////////#/////////(***.,,,
	(((((((((((####///*/(#//////////##%####(////////////////////(##/////(,/*///////###(//////////(///////(//////////(***./,
	(((((((((((#####/(*/(((////////########////////////////////####/////**//*/////####(/////////(////////(#///////////****,
	(((((((((((((((#((*/,     ,///###%#####//////////////////####*#//***,,////(///#####////////(#////////(#////////////****
	(((((((//(((((###((.        *(#########//////////////(//####,*(//*/.,,(///*//(#####////////##////////(#(//////(/////**/
	((/((((((((#%%%###(           ########(//////////////((###/.,****(* .,**//*//######///////##(////(///###//////(///(/**(
	((///(((((%%%%%####            *######(/////(////////(##(....,,**/ * ,,//(*//#%####//////(##/////(///###//////(#////**/
	((///(((&(%%##(%%%#.            .(####(////(#///////(###..   ,,(*/   *,**(**(######//////###////((///###//////(#/////**
	(#*******////////(%/             .####(////##///////(##  (.  .,/*.   .,,/(,*(#(/###(////###(////*(//(####/(///(##//(/**
	###/***///*..,/////(              #####///###///////## /%%%%%#,,/     , .#,,,(/*###(///####///(**///*(##///(//###//(/**
	////**/////*/,.////(  ..         .#####//(###(//////#.    .#%%%%%     .  (./.(***###//####(///**///,*(##//*(//###//(/**
	/*****///////////(/( ,,,,,,..,,,,.#####//####(//////(         ,%%%%      . ,. * */##/#####///.,*/(.,*(##//*(/(###(///**
	///***///////(###%%# .,,,,,,,,,,*(#####/(#####///(//(            .%%%.  .   . / .,#######//../,(/ .,*###(.*//####(///**
	///(((*//(#######%##  ,,,,,,,,,,*#############//////(.              /%%.  *   .  ,*#####/(  .,(.   ,*##(..*/(###(/(//*/
	/#####((#(########(, .,**    ./*((############///////..(#%%%#%%%%%%##(#%%        .,((#(/. .,,. ./%%%%%# ..*#####/////*/
	#######(((((##%#(## *             ,#(#########(///(//...........                 . (((.    (%%%%%/. *#....#####/((///*(
	######((#####&((#(                    ((######(//////,...........                      .#%%%.       (  .*#####(/(///**(
	##########//#((                          (#####///(,*/..........                           ,#%%%(. ....##%###(//////**(
	#######,/(*(.                              ####////.**..........                           .....,#,...(#####(///////*/(
	,,,,,,,,&.         .,,,,..                 .(##(//*../,........                    .      ...........,####%#///////**//
	,,,,,,%         ,,,,,,,,,,,*,,,,,,,,****,,. ((#(//*.../.......                           .......... .######(///(///**//
	,,,,,/       ,,,,,,,*/*.                     (((///.   *                                 ............######///((//**///
	,,,,,*      ,**.                             .(((//                                       ..........#######//(#(//**///
	,,,,,*                                        (((//               ,                        .........######///##(//*////
	******                                        ,((/*.              ,, ,*/**,,.                  ....(######/(###//*/////
	******                                        ,(((/*,            ,..,.,.,,*///#(.                .*######/(###(//*(((((
	(((((                             ..,*,,..  .*((((//,,           ,...,,,,,,,,//*                .*#######(####(/*((((((
	*****               ,,,,,**.                   #(##(/,,,           ..........*                 .(##########%#(/*///////
	/////*           .,*,                          .(##/*,**,,                                   .,#############((**(((((((
	/////(                                          ####(**,,/,,.                              .##############%%(**////////
	******                                          ####(%#***,,*,,                        /#(##############(#((/*/((((((((
	******/                                       .#%####%%%%****,,**.               *(&((######(##########(#(#/*//////////
	******(/                                  .* #%%#%###(%%%%%(*****(#(..... ,#(/,,.#&(#######/##########(##//**//////////
	////////(                           .*.      .%%%%%%##%%%%%%%%**%%%%%%%%%%%#%@%#########%#///#######((#%/(*////////////
	/////((((.              .,,,,*/*,           . (%%%%%%#(%%%%%%%%(%%%%%%%%%%%%%%%%%%###%##%#///######((,,(#*/////////////
	((((#(((((                ...                .((#%%%%%%#%%%%%%%(%%%%%%%%%%%%%%%%%####%####//######(###/#///////////////
	

doctype html
html
	head
		//- custom stuff
		link(rel="stylesheet" href='/css/layout.css')

		//- Bootstrap stuff
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")

		//- fontawesome
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')

		title= title
	body
		if(navBar)
			nav(class='navbar navbar-expand-lg navbar-dark bg-dark' style='position: fixed; top: 0%; left: 0%; right: 0%; z-index: 0;')
				a(class='navbar-brand' href='/')
					img(src='/img/logo.png' width='30' height='30' class='d-inline-block align-top' alt='')
					| #{' '}#{title}#{' '}
					small
						small
							small by JT Campbell
				ul(class='navbar-nav flex-row ml-md-auto d-done d-md-flex')
				button(class='btn dropdown-toggle' type='button' data-toggle='dropdown' area-haspopup='true' aria-expanded='false')
					i(class='fas fa-user')
					span #{' '}#{displayname}
				div(class='dropdown-menu dropdown-menu-right')
					a(class='dropdown-item' href='/settings')
						span(class='fas fa-user-cog')
						| #{' '}User Settings
					a(class='dropdown-item' href='/auth/logout' data-no-instant)
						span(class='fas fa-sign-out-alt' style='margin-right: 4px;')
						| #{' '}Sign out
		-if(error)
			each err in error
				div(class='alert alert-danger alert-dismissible fade show' role='alert' style='position: fixed; top: 10%; left: 25%; right: 25%; z-index: 3') !{err}
					button(type='button' class='close' data-dismiss='alert' area-label='Close')
						span(area-hidden='true') &times;
		-if(success)
			each sucs in success
				div(class='alert alert-success alert-dismissible fade show' role='alert' style='position: fixed; top: 10%; left: 25%; right: 25%; z-index: 2') !{sucs}
					button(type='button' class='close' data-dismiss='alert' area-label='Close')
						span(area-hidden='true') &times;
		div(id='particles-js' style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; z-index: -1')
		block body
		//- hacky method to partically disable browser devtools - good luck skript kiddos ha!
		script.
			setInterval(function(){ debugger; }, 500);
		script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js' integrity='sha384-d+UOwmNNIC7V4izkTAKSXzWhjC2GxiS9PTykO1XdOPC3nc2z65UOS7SP6QdKPA70' crossorigin='anonymous')
		script.
			particlesJS.load('particles-js', '/particles.json', function () {})
		script(src='/js/instantclick.min.js' data-no-instant)
		script(data-no-instant).
			InstantClick.init();