extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%); width: 30%')
		div(class='card-body')

			h3(style='text-align: center;') Welcome, #{name}!
			p(style='text-align: center;')
				small Following are actions you can do to modify the settings!
					br
					| Signup status for students:
					strong #{' '}#{status}
			hr
			div(class='row')
				a(class='mx-auto' href='/mgmt/test_other_view' data-no-instant)
					span #{' '}Change to non admin view
			div(class='row')
				p(class='mx-auto')
					small (log out and log in again to reset)
			div(class='row')
				a(class='mx-auto' href='/mgmt/add_user')
					i(class='fas fa-users')
					span #{' '}Add one user
			div(class='row' style='text-align: center;')
				a(class='mx-auto' href='/mgmt/add_users')
					i(class='fas fa-user-plus')
					span #{' '}Batch add users
			div(class='row' style='text-align: center;')
				a(class='mx-auto' href='/mgmt/settings')
					i(class='fas fa-sliders-h')
					span #{' '}Change website settings
			div(class='row' style='text-align: center;')
				a(class='mx-auto' href='#')
					i(class='fas fa-chart-pie')
					span #{' '}See signup statistics
			div(class='row' style='text-align: center;')
				a(class='mx-auto' href='/mgmt/change_status')
					i(class='fas fa-door-open')
					span #{' '}Change signup status (done automatically)
			hr