extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%); width: 60%')
		div(class='card-body')

			h3(style='text-align: center;') Welcome, #{name}!
			p(style='text-align: center;')
				small You can use this page to sign up to #{activityname} on #{weekday}!
					br
					| You can see your current signup status below.
			hr
			-if(signups.length !== 0)
				div(class='row')
					div(class='col order-1') Pass No.
					div(class='col order-2') Location
					div(class='col order-3') Teacher
					div(class='col order-4') Purpose
					div(class='col order-5') Time
					div(class='col order-6') Delete

				-for(var c = 0; c < signups.length; c++)
					-var signup = signups[c]
					hr
					div(class='row')
						div(class='col order-1')
							i(class='far fa-address-card')
							span #{' '}#{signup.id}
						div(class='col order-2')
							i(class='far fa-check-circle')
							span #{' '}To #{signup.room}
						div(class='col order-3')
							i(class='far fa-user-circle')
							span #{' '}#{signup.teacherName}
						div(class='col order-4')
							i(class='far fa-clipboard')
							span #{' '}For #{signup.purpose}
						div(class='col order-5')
							i(class='far fa-clipboard')
							span #{' '}#{signup.time}
						div(class='col order-6')
							-var onclick = 'window.location = \'/pass/delete_pass?passid=' + signup.id + '\'';
							a(onclick=onclick href='#')
								i(class='far fa-trash-alt')
								span #{' '}Delete Pass
				hr
				-if(signups.length < 1)
					-if(status)
						div(class='row')
							button(class='btn btn-info mx-auto' onclick='window.location = \'/pass/signup\'') Sign up
					-else
						div(class='row')
							button(class='btn btn-secondary mx-auto' disabled) Signups are closed
				-else
					div(class='row')
						button(class='btn btn-secondary mx-auto' disabled) Limit Reached
			-else
				div(class='row')
					p(class='mx-auto') You haven't signed up yet. (â•¯Â°â–¡Â°)â•¯ï¸µ â”»â” â”»
				-if(status)
					div(class='row')
						button(class='btn btn-info mx-auto' onclick='window.location = \'/pass/signup\'') Sign up
				-else
					div(class='row')
						button(class='btn btn-secondary mx-auto' disabled) Signups are closed