extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%); width: 60%')
		div(class='card-body')

			h3(style='text-align: center;') Welcome, #{name}!
			p(style='text-align: center;')
				small You can use this page to change your personal settings!
					br
					| You can see your current settings below.
			hr
			form(method='post')
				div(class='row')
					div(class='col order-1') Google account status:
					div(class='col order-2') 
						strong #{google ? 'Matched': 'Unmatched'}
				br
				div(class='row')
					div(class='col order-1') Username:
					div(class='col order-2')
						strong #{username}
				br
				div(class='row')
					div(class='col order-1') First Name:
					div(class='col order-2')
						input(class='form-control' name='firstName' type='text' value=firstName required)
				br
				div(class='row')
					div(class='col order-1') Last Name:
					div(class='col order-2')
						input(class='form-control' name='lastName' type='text' value=lastName required)
				br
				div(class='row')
					div(class='col order-1') Email:
					div(class='col order-2')
						input(class='form-control' name='email' type='text' value=email required)
				br
				div(class='row')
					div(class='col order-1') Departments:
					div(class='col order-2')
						div(id='addmorebtn' class='mx-auto text-center')
							a(href='#' onclick='addNewDept()') +Add more departments
				br
				div(class='row')
					div(class='col order-1') Room:
					div(class='col order-2')
						input(class='form-control' name='room' type='text' value=room required)
				br
				div(class='row')
					div(class='col order-1') Max Students:
					div(class='col order-2')
						input(class='form-control' name='maxStudents' type='number' min=0 max=999999 value=maxStudents required)
				br
				div(class='row')
					input(class='mx-auto btn btn-warning' name='submit' type='submit' value='Apply Settings' data-no-instant)
		script.
			var depts = !{depts};
			var userdepts = !{userdepts}
			null; // to prevent the script from breaking if userdepts is not defined
			var selstatement = "";
			for(var c = 0; c < depts.length; c++)
			{
				selstatement += "<option value=\"" + depts[c] + "\">" + depts[c] + "</option>"
			}
			var num = 0;
			console.log(selstatement);

			for(var c = 0; c < userdepts.length; c++)
			{
				var newselstatement = selstatement.replace("<option value=\"" + userdepts[c] + "\">", "<option value=\"" + userdepts[c] + "\" selected>")
				document.getElementById("addmorebtn").insertAdjacentHTML("beforebegin", (c === 0 ? '' : '<br>') + '<select class="custom-select" name="depts[' + num + ']"><option selected>Department ' + (++num) + '</option>' + newselstatement + '</select><br>', "text/xml")
			}

			function addNewDept()
			{
				document.getElementById("addmorebtn").insertAdjacentHTML("beforebegin", (num === 0 ? '' : '<br>') + '<select class="custom-select" name="depts[' + num + ']"><option selected>Department ' + (++num) + '</option>' + selstatement + '</select><br>', "text/xml");
			}