extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%); width: 60%')
		div(class='card-body')

			h3(style='text-align: center;') Welcome, #{name}!
			p(style='text-align: center;')
				small You can use this page to change your personal settings!
					br
					| You can see your current settings below.
			hr
			form(method='post')
				div(class='row')
					div(class='col order-1') Google account status:
					div(class='col order-2') 
						strong #{google ? 'Matched': 'Unmatched'}
				br
				div(class='row')
					div(class='col order-1') Username:
					div(class='col order-2')
						strong #{username}
				br
				div(class='row')
					div(class='col order-1') First Name:
					div(class='col order-2')
						input(class='form-control' name='firstName' type='text' value=firstName required)
				br
				div(class='row')
					div(class='col order-1') Last Name:
					div(class='col order-2')
						input(class='form-control' name='lastName' type='text' value=lastName required)
				br
				div(class='row')
					div(class='col order-1') Email:
					div(class='col order-2')
						input(class='form-control' name='email' type='text' value=email required)
				br
				div(class='row')
					div(class='col order-1') Class Of:
					div(class='col order-2')
						input(class='form-control' name='gradYear' type='number' min=((new Date()).getFullYear()+Math.floor((new Date()).getMonth()/7)) max=((new Date()).getFullYear()+Math.floor((new Date()).getMonth()/7)+3) value=gradYear required)
				br
				div(class='row')
					input(class='mx-auto btn btn-warning' name='submit' type='submit' value='Apply Settings' data-no-instant)