extends ../layout

block body
	div(style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; display: flex; align-items: center; justify-content: center; flex-direction: column')
		-if(signups.length !== 0)
			-for(var c = 0; c < signups.length; c++)
				-var signup = signups[c]
					div(class='card' style='background-color: rgba(255,255,255,0.8')
						div(class='card-content')
							span(class='card-title') 
								b Pass No. #{signup.id}
							div
								i(class='far fa-check-circle')
								| #{' ' + displayname} to #{signup.room}
							div
								i(class='far fa-clipboard')
								| #{' '}For #{signup.purpose}
							div
								i(class='far fa-clipboard')
								| #{' '}On #{signup.time}
							div
								i(class='far fa-user-circle')
								| #{' '}Issued by #{signup.teacherName}
						div(class='card-action' style='background-color: rgba(255,255,255,0); border-top: 1px solid rgba(100,100,100,0.2);')
							b
								a(href='#' class='red-text' onclick='confirmDelete(' + signup.id + ');' data-no-instant) Delete Pass
							-if(signups.length < 2)
								b
									a(href='/pass/signup' class='blue-text') Sign up for another
							-else
								b
									a(class='grey-text') Sign up for another
		-else
			div(class='card' style='background-color: rgba(255,255,255,0.8')
				div(class='card-content')
					span(class='card-title') Empty!
					p You haven't signed up yet. (â•¯Â°â–¡Â°)â•¯ï¸µ â”»â”â”»
						br
						| Use the button below to start!
				div(class='card-action' style='background-color: rgba(255,255,255,0); border-top: 1px solid rgba(100,100,100,0.2);')
					a(href='/pass/signup' class='blue-text') 
						b Sign Up
	script.
		function confirmDelete(passid)
		{
			var toastHTML = '<span>Are you sure?</span><button class="btn-flat toast-action" onclick="deletepass(' + passid + ');" data-no-instant>Yes</button>';
			M.toast( { html: toastHTML } );
		}

		function deletepass(passid)
		{
			var deletelocation = '/pass/delete_pass?passid=' + passid;
			window.location = deletelocation;
		}