extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%, -50%); width: 50%;')
		div(class='card-body')

			h3(class='mx-auto' style='text-align: center;') Add Multiple Users
			p(style='text-align: center;')
				small Enter one user information per line. Splice data with comma.
					br
					| Data should be in following order: Username, Last Name, First Name, Graduation Year
					br
					br
					| WARNING! RISK OF DATABASE CORRUPTION! THE PROGRAM WILL NOT CHECK FOR ANY VALIDITY OF THE DATA!
					br
					| TRIPLE CHECK THE DATA YOU PASTE HERE!
			hr

			form(method='post')
				div(class='form-group')
					textarea(class='form-control' name='field' rows=10 required)
				hr

				div(class='row')
					input(class='mx-auto btn btn-warning' name='submit' type='submit' value='Submit' data-no-instant)