extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%, -50%);')
		div(class='card-body')

			h3(class='mx-auto' style='text-align: center;') Add Single User
			hr

			div(class='row')
				div(class='mx-auto btn-group btn-group-toggle' data-toggle='buttons')
					label(class='btn btn-outline-secondary active' onclick='updateForm(0)')
						input(type='radio' name='accountLevel' checked)
						| Student
					label(class='btn btn-outline-secondary' onclick='updateForm(1)')
						input(type='radio' name='accountLevel')
						| Teacher
					label(class='btn btn-outline-secondary' onclick='updateForm(2)')
						input(type='radio' name='accountLevel')
						| Admin
			br

			form(method='post' id='addForm')
				input(id='accountLevel' name='accountLevel' type='hidden' value='0')
				div(class='input-group')
					input(class='form-control' name='username' type='text' placeholder='Username' required)
				br
				div(class='input-group')
					input(class='form-control' name='firstName' type='text' placeholder='First Name' required)
				br
				div(class='input-group')
					input(class='form-control' name='lastName' type='text' placeholder='Last Name' required)
				br
				div(class='input-group')
					input(class='form-control' name='gradYear' type='number' placeholder='Graduation Year' min=((new Date()).getFullYear()) max=((new Date()).getFullYear() + 5) required)
				br
				div(class='row')
					input(class='mx-auto btn btn-warning' name='submit' type='submit' value='Add User' data-no-instant)

	script.
		var depts= !{depts};
		var selstatement = '';
		for(var c = 0; c < depts.length; c++)
		{
			selstatement += "<option value=" + depts[c] + ">" + depts[c] + "</option>"
		}
		var num;

		function updateForm(accountLevel)
		{
			var innerForm;
			switch(accountLevel)
			{
				case 0:
					//- Used Template Strings here for multiline statements. This is a admin page anyway so just try not to visit this page in IE.
					innerForm =
						`
						<input id="accountLevel" name="accountLevel" type="hidden" value="0">
						<div class="input-group">
						<input class="form-control" name="username" type="text" placeholder="Username" required>
						</div><br>
						<div class="input-group">
						<input class="form-control" name="firstName" type="text" placeholder="First Name" required>
						</div><br>
						<div class="input-group">
						<input class="form-control" name="lastName" type="text" placeholder="Last Name" required>
						</div><br>
						<div class="input-group">
						<input class="form-control" name="gradYear" type="number" placeholder="Graduation Year" min=${(new Date()).getFullYear()} max=${(new Date()).getFullYear()+5} required>
						</div><br>
						<div class="row">
						<input class="mx-auto btn btn-warning" name="submit" type="submit" value="Add User">
						</div>
						`;
					break;
				case 1:
					num = 1;
					innerForm =
						`
						<input id="accountLevel" name="accountLevel" type="hidden" value="1">
						<div class="input-group">
							<input class="form-control" name="username" type="text" placeholder="Username" required>
						</div>
						<br>
						<div class="input-group">
							<input class="form-control" name="firstName" type="text" placeholder="First Name" required>
						</div>
						<br>
						<div class="input-group">
							<input class="form-control" name="lastName" type="text" placeholder="Last Name" required>
						</div>
						<br>
						<div class="input-group">
							<input class="form-control" name="maxStudents" type="number" placeholder="Max Students" min=1 required>
						</div>
						<br>
						<div class="input-group">
							<select class="custom-select" name="depts[0]">
							<option selected>Department</option>
							${selstatement}
							</select>
						</div>
						<div id="addmorebtn" class="mx-auto text-center">
							<a href='#' onclick="addNewDept()">+Add more departments</a>
						</div>
						<br>
						<div class="row">
							<input class="mx-auto btn btn-warning" name="submit" type="submit" value="Add User">
						</div>
						`;
					break;
				case 2:
					innerForm =
						`
						<input id="accountLevel" name="accountLevel" type="hidden" value="2">
						<div class="input-group">
							<div class="input-group-prepend">
								<button id="studentOrTeacherIndicator" class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" area-haspopup=:true" aria-hasexpended="false">Student</button>
								<div class="dropdown-menu">
									<a onclick="updateDropdown(0)" class="dropdown-item" href="#">Student</a>
									<a onclick="updateDropdown(1)" class="dropdown-item" href="#">Teacher</a>
								</div>
							</div>
							<input id="studentOrTeacher" name="studentOrTeacher" type="hidden" value="0">
							<input class="form-control" name="username" type="text" placeholder="Username" required>
						</div>
						<br> 
						<div class="row">
							<input class="mx-auto btn btn-warning" name="submit" type="submit" value="Promote User to Admin">
						</div>
						`
					break;
			}
			document.querySelector('#addForm').innerHTML = innerForm;
		}

		function updateDropdown(type)
		{
			type = parseInt(type);
			var text;
			switch(type)
			{
				case 0: text = 'Student'; break;
				case 1: text = 'Teacher'; break;
			}
			document.getElementById('studentOrTeacher').setAttribute('value', type);
			document.getElementById('studentOrTeacherIndicator').innerText = text;
		}

		function addNewDept()
		{
			document.getElementById('addmorebtn').insertAdjacentHTML('beforebegin', '<br><div class="input-group"><select class="custom-select" name="depts[' + num + ']"><option>Department ' + (++num) + '</option>' + selstatement + '</select></div>', "text/xml");
		}