extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%);')
		div(class='card-body')

			h3(class='mx-auto' style='text-align: center;') Confirm Change
			hr
			p(style='text-align: center;')
				small Current status: 
					strong #{status}
					br
					| Press the button below to change the status
					br
					| from now until closest #{weekday}

			div(class='row')
				form(class='mx-auto' method='post')
					input(class='btn btn-warning' name='change' type='submit' value='change' data-no-instant)