doctype html
html
	head
		link(rel='stylesheet' href='/css/layout.css')

		//- materializeCSS
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css' integrity='sha384-5KZdSYqynSzIjQGS2M1O3HW6HVDBjfNx0v5Y2eQuE3vvQ9NTiiPK9/GWc0yYCrgw' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js' integrity='sha384-ZOED+d9HxogEQwD+jFvux96iGQR9TxfJO+mPF2ZS0TuKH6eWrmvPsDpO6I0OWdiX' crossorigin='anonymous')

		//- fontawesome
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')

		//- mobile stuff
		meta(name='viewport' content='width=device-width, initial-scale=1.0')

		title= title

	body
		div(id='particles-js' style='position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; z-index: -10')
		div(style='box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.4); position: fixed; left: 0%; right: 0%; top: 0%; bottom: 0%; z-index: -1;')
		block body
	
		if(navBar)
			div(class='fixed-action-btn')
				//- well I never actually learned frontend development
				a(class='btn-floating btn-large blue darken-2' style='line-height: 72px;' )
					img(src='/img/logo.png' width='30' height='30')
				ul
					li
						a(href='/auth/logout' class='btn-floating orange' data-no-instant)
							i(class='fas fa-sign-out-alt')
					li
						a(href='/settings' class='btn-floating yellow darken-2')
							i(class='fas fa-user-cog')
					li
						a(href='/' class='btn-floating green')
							i(class='fas fa-home')

		script.
			var error = !{JSON.stringify(error)}
			var success = !{JSON.stringify(success)}

			for(var c = 0; c < error.length; c++) M.toast( { html: error[c], displayLength: Infinity, classes: 'deep-orange darken-1' } );
			for(var c = 0; c < success.length; c++) M.toast( { html: success[c], displayLength: Infinity, classes: 'light-green darken-2'} );

			document.addEventListener('DOMContentLoaded', function()
			{
				var elems = document.querySelectorAll('.fixed-action-btn');
				var instances = M.FloatingActionButton.init(elems)
			});

		script(src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js' integrity='sha384-d+UOwmNNIC7V4izkTAKSXzWhjC2GxiS9PTykO1XdOPC3nc2z65UOS7SP6QdKPA70' crossorigin='anonymous')
		script.
			particlesJS.load('particles-js', '/particles.json', function () {})
		script(src='/js/instantclick.min.js' data-no-instant)
		script(data-no-instant).
			InstantClick.Init();